.venv/
.vendor/
__pycache__/
*.pyc
.python-version
.env
.env.*
*.pem
:memory:.ses
*.ses
data/chunks/
data/qdrant/
data/models/
data/ollama/
data/raw/*
!data/raw/.gitkeep
data/rejected/*
!data/rejected/.gitkeep

